.container {
  padding-top: 9vh;
  padding-bottom: 14vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  ::ng-deep .mat-button-toggle-label-content {
    font-size: 18px;
    line-height: 29px;
  }

  .toggle-btns {
    text-align: right;

    mat-button-toggle-group {
      border-radius: 8px;
      outline: none;
      border: solid 1px rgba(255, 255, 255, .4);

      #mat-button-toggle-2 {
        border: solid 1px rgba(255, 255, 255, .4);
      }

      mat-button-toggle {
        height: 29px;
        background-color: transparent;
        color: rgba(255, 255, 255, 0.4);
      }

      .mat-button-toggle-checked {
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
      }
    }
  }

  .change-city {
    background: transparent;
    color: rgba(255, 255, 255, 0.4);
    border: none;
    padding: 0;
  }

  .current-location {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &-icon {
      background: url(/assets/location.svg);
      height: 30px;
      width: 30px;
    }

    button {
      text-align: left;
      background: transparent;
      border: none;
      display: flex;
      align-items: center;
      color: rgba(255, 255, 255, 0.4);

      mat-icon {
        margin-right: 8px;
      }
    }
  }

  .active {
    color: #fff !important;
  }

  form {
    margin-top: 12px;
    display: flex;
    align-items: center;
    ::ng-deep.mat-form-field-wrapper {
      color: #fff;
      .mat-form-field-underline {
        background-color: rgba(255,255,255,0.42);
      }
      label {
        color: rgba(255,255,255,.54);
      }
      .mat-form-field-ripple {
        background-color: #fff !important;
      }
      .mat-input-element {
        caret-color: #fff;
      }
    }
    .search-btn {
      background: transparent;
      color: #fff;
      border: none;
      margin-left: 10px;
      mat-icon {
        font-size: 36px;
      }
    }
  }
  .celsius {
    width: 55px;
    height: 55px;
    border: 14px solid #fff;
    border-radius: 50%;
  }

  .d-flex {
    display: flex;
    flex-direction: column;
    align-items: center;

    ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
      stroke: #fff;
    }

    .wrap {
      display: flex;
      justify-content: space-between;

      img {
        width: 200px;
        height: 200px;
      }

      h1 {
        font-size: 180px;
        line-height: normal;
      }
    }

    .forecast {
      font-size: 25px;
      line-height: 30px;
    }
  }

  .footer {
    margin-top: 12px;
    div {
      padding-left: 25px;

      p {
        text-align: left;
        color: rgba(255, 255, 255, 0.6);
      }

      span {
        margin-top: 10px;
        display: block;
        font-size: 25px;
        line-height: 30px;
      }
    }
  }
}

.header-row, .location {
  align-items: center;
  margin-bottom: 12px;

  p.city-name {
    font-size: 50px;
    line-height: 60px;
  }
}


@media screen and (max-width: 992px) {
  .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .container .footer div p span {
    font-size: 18px;
  }

}

@media screen and (max-width: 600px) {
  .container .wrap .header-row .city-name {
    font-size: 36px;
  }
  .container .d-flex .wrap {
    img {
      width: 100px;
      height: 100px;
    }

    .celsius {
      width: 30px;
      height: 30px;
      border: 7px solid #fff;
    }

    h1 {
      font-size: 100px;
      line-height: 100px;
    }


  }
}

@media screen and (max-width: 400px) {

  .margin-bottom {
    margin-bottom: 10px;
  }

  .container .d-flex .wrap {
    img {
      width: 100px;
      height: 100px;
    }

    .celsius {
      width: 30px;
      height: 30px;
      border: 7px solid #fff;
    }

    h1 {
      font-size: 100px;
      line-height: 100px;
    }
  }
}

@media screen and (max-width: 378px) {

  .container .d-flex {
    .forecast {
      font-size: 18px;
    }

  }
}


