<div class="container" *ngIf="currentPosition !== null; else error">
  <div class="wrap">
    <div class="row header-row">
      <div class="col-6">
        <p class="city-name">{{isLoading ? '--' : currentPosition.name}}</p>
      </div>
      <div class="col-6 toggle-btns">
        <mat-button-toggle-group (change)="changeOutputTemp($event)">
          <mat-button-toggle value="celsius" checked>C</mat-button-toggle>
          <mat-button-toggle value="farengeth">F</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="row location">
      <div class="col-md-2 col-5">
        <button mat-button class="change-city" [class.active]="!localForecast" (click)="changeCity()">Change city</button>
      </div>
      <div class="com-md-3 col-7">
        <div class="current-location">
          <button mat-button (click)="getCurrentPosition()" [class.active]="localForecast">
            <mat-icon aria-hidden="false" class="current-location-icon"></mat-icon>
            My current location
          </button>
        </div>
      </div>
      <div class="com-md-5 col-12">
        <form class="city-search" *ngIf="showSearch" #f="ngForm" (ngSubmit)="searchForForecast(f)" autocomplete="off">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Search for a city" name="searchTerm" ngModel value={{currentPosition.name}}>
          </mat-form-field>
          <button type="submit" class="search-btn">
            <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_right</mat-icon>

          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-2">
      <div class="d-flex">
        <ng-container *ngIf="!isLoading; else loading">
          <div class="wrap">
            <img src="http://openweathermap.org/img/wn/{{currentPosition.weather[0].icon}}.png"
                 alt="">
            <h1 class="temp">{{ currentTempMode }}<ng-container *ngIf="!celsiusMode">F</ng-container></h1><span class="celsius"></span>
          </div>
          <p class="forecast">{{currentPosition.weather[0].description}} </p>
        </ng-container>
        <ng-template #loading>
          <mat-spinner></mat-spinner>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="row footer">
    <div class="col-6 col-sm-3  margin-bottom">
      <p>
        Wind <span>{{isLoading ? '--' : currentPosition.wind.speed}} m/s, {{windDirection}} </span>
      </p>
    </div>
    <div class="col-6 col-sm-3  margin-bottom">
      <p>
        Pressure <span>{{isLoading ? '--' : currentPosition.main.pressure}} hPa </span>
      </p>
    </div>
    <div class="col-6 col-sm-3">
      <p>
        Humidity <span>{{isLoading ? '--' : currentPosition.main.humidity}}%</span>
      </p>
    </div>
    <div class="col-6 col-sm-3">
      <p>
        Chance of rain <span>{{isLoading ? '--' : currentPosition.clouds.all}}%</span>
      </p>
    </div>
  </div>
</div>
<ng-template #error>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 offset-sm-2">
        <h1>An unexpected error was occurred!</h1>
        <p>Try your request later</p>
      </div>
    </div>
  </div>
</ng-template>
