
body {
  margin: 0;
  padding: 0;
  background: #498CEC;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

span, p, h1 {
  color: #fff;
}

button, a, button:focus {
  outline: none;
}

p {
  margin-bottom: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@media screen and (max-width: 400px) {
  body {
    font-size: 16px;
    line-height: normal;
  }
}
